<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="index">
<div layout:fragment="content">
    <div class="layui-side layui-bg-black" layout:fragment="left">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">项目列表</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{project_list}">我的项目</a></dd>
                        <dd><a th:href="@{project_analysis}">项目分析</a></dd>
                        <dd><a th:href="@{project_collection}">我的收藏</a></dd>
                        <dd><a th:href="@{project_archived}">已归档项目</a></dd>
                        <dd><a th:href="@{project_list}">回收站</a></dd>
                        <dd><a th:href="@{project_organization}">我的组织</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">基础设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">项目模板</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">消息提醒</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">站内消息</a></dd>
                        <dd><a href="javascript:;">系统公告</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" layout:fragment="right">

    </div>
</div>
</html>
