<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>运营后台</title>
</head>
<link th:href="@{~/css/vendors.bundle.css}" rel="stylesheet" type="text/css" />
<link th:href="@{~/css/style.bundle.css}" rel="stylesheet" type="text/css" />
<link th:href="@{~/css/common.css}" rel="stylesheet" type="text/css" />

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<div class="m-grid m-grid--hor m-grid--root m-page">

    <!-- header 开始 -->
    <header class="m-grid__item    m-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" >
        <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <!-- BEGIN: Brand -->
                <div class="m-stack__item m-brand  m-brand--skin-dark ">
                    <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                            <a href="index.html" class="m-brand__logo-wrapper">
                                <!--
                                <img alt="" src="assets/demo/default/media/img/logo/logo_default_dark.png"/>
                                -->
                            </a>
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-brand__tools">
                            <!-- BEGIN: Left Aside Minimize Toggle -->
                            <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block
					 ">
                                <span></span>
                            </a>
                            <!-- END -->
                            <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                            <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <!-- END -->
                            <!-- BEGIN: Responsive Header Menu Toggler -->

                            <!-- END -->
                            <!-- BEGIN: Topbar Toggler -->
                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>
                            <!-- BEGIN: Topbar Toggler -->
                        </div>
                    </div>
                </div>
                <!-- END: Brand -->
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">
                                <li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"  data-dropdown-toggle="click">
                                    <a href="#" class="m-nav__link m-dropdown__toggle">
                                        <span class="m-nav__link-icon">
                                            <img th:src="@{~/img/icon.png}">
										</span>
                                        <span class="text_sort">
                                            <em class="text_sort_name"></em>
                                            <em class="text_color">超级管理员</em>
                                        </span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <a href="password">修改密码</a>
                                            <a class="logout_login">退出登录</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END: Topbar -->
                </div>
            </div>
        </div>
    </header>
    <!-- header 结束 -->

    <!-- body 开始 -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
            <!-- BEGIN: Aside Menu -->
            <div
                    id="m_ver_menu"
                    class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
                    data-menu-vertical="true"
                    data-menu-scrollable="false" data-menu-dropdown-timeout="500"
            >

                <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow " style="color:#fff;">
                    <li class="m-menu__item  m-menu__item--submenu " aria-haspopup="true"  data-menu-submenu-toggle="hover">
                        <span  href="#" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-icon fa fa-list-alt"></i>
                            <span class="m-menu__link-text">
										操作日志
									</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </span>
                        <div class="m-menu__submenu">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" >
                                    <a  href="index" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
													操作日志
												</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                        <span  href="#" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-icon fa fa-address-card"></i>
                            <span class="m-menu__link-text">
										运营人员管理
									</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </span>
                        <div class="m-menu__submenu">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" >
                                    <a  href="personnel" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
													运营人员管理
												</span>
                                    </a>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true" style="display: none" >
                                    <a  href="added" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
													新增运营人员
												</span>
                                    </a>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true"  style="display: none">
                                    <a  href="operate" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
													运营人员详情
										</span>
                                    </a>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true"  style="display: none">
                                    <a  href="edit" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
													运营人员编辑
										</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END: Aside Menu -->
        </div>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="content_container" th:include="this :: content"></div>
        </div>
    </div>
    <!-- body 结束 -->
</div>
<script th:src="@{~/js/vendors.bundle.js}" type="text/javascript"></script>
<script th:src="@{~/js/scripts.bundle.js}" type="text/javascript"></script>

<!--validate验证-->
<script th:src="@{~/js/jquery.validate.min.js}"></script>
<script th:src="@{~/js/login.js}" type="text/javascript"></script>
<script th:src="@{~/js/page.js}" type="text/javascript"></script>
<script>
    var usernume = localStorage.getItem("keyname");
    $(".text_sort_name").html(usernume);

    /*".m-menu__item--submenu").addClass("m-menu__item--open"); */
    var urlpathname = window.location.href;
    var elength =  $(".m-menu__subnav li a");
    for(var i=0; i<elength.length; i++){
        if(elength[i].href == urlpathname){
            var box  = elength.eq(i);
            setTimeout(function(){
                box.parents("li.m-menu__item--submenu").addClass("m-menu__item--open");
                box.parents("div.m-menu__submenu").hide();
                box.parents("div.m-menu__submenu").slideDown();
                box.addClass("color_show");
            },600);
        }
    }

    $(".logout_login").click(function(){
        var logout = contextPath + '/logout';
        $.ajax({
            type: 'get',
            url: logout,
            async: true,
            contentType: 'application/json',
            dataType: 'json',
            processData: false,
            success:function(data){
                location.href = '/login';
            },error:function(data){
                console.log(data)
            }
        })
    })
</script>

</body>
</html>



