<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>新增运营人员</title>
    <link rel="stylesheet" href="css/vendors.bundle.css"/>
    <link rel="stylesheet" href="css/style.bundle.css"/>
    <script src="js/vendors.bundle.js"></script>
    <script src="js/scripts.bundle.js"></script>
</head>
<body>
<form class="m-login__form m-form" action="">
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <!-- END: Subheader -->
    <div class="m-content">
      <!--Begin::Main Portlet-->
      <div class="alert m-alert--default" role="alert"><p>运营人员管理</p></div>
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                基本信息
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="form-group m-form__group row">
            <label class="col-3 col-form-label text-center">用户名：</label>
            <div class="col-9">
              <input class="form-control m-input" id="name"  type="text" placeholder="请输入用户名" name="name" autocomplete="off"/>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <label class="col-3 col-form-label text-center">密码：</label>
            <div class="col-9">
              <input class="form-control m-input" id="password"  type="password" placeholder="请输入密码" name="password" autocomplete="off"/>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                用户权限
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-checkbox-inline">
            <label class="m-checkbox">
              <input type="checkbox"/>
                会员管理
              <span></span>
            </label>
            <label class="m-checkbox">
              <input type="checkbox"/>
                帖子管理
              <span></span>
            </label>
            <label class="m-checkbox">
              <input type="checkbox"/>
                举报管理
              <span></span>
            </label>
            <label class="m-checkbox">
              <input type="checkbox"/>
                规则管理
              <span></span>
            </label>
            <label class="m-checkbox">
              <input type="checkbox"/>
                消息管理
              <span></span>
            </label>
            <label class="m-checkbox">
              <input type="checkbox"/>
                系统设置
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="m-form__group form-group row">
  <div class="col-md-6 text-right">
    <span class="btn btn-primary">保存</span>
  </div>
  <div class="col-md-1 text-center">
    <span class="btn btn-default">取消</span>
  </div>
</div>
</body>
</html>
